.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 700px;
    padding-top: 38px;
    padding-bottom: 38px;
  }
}
@media screen and (max-width: 720px) {
  .header {
    max-width: 282px;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 32px;
  }
  .header__logo {
    width: 126px;
  }
}
